<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dialogs</title>
    <link rel="stylesheet" href="/css/index.css" />
    
  </head>
  <body>
    <section class="dialogs-main">
      <div class="modal warning-container" id="warning-container">
        <div class="dialog warning">
          <button class="close close-button">X</button>
          <div class="message-icon">
            <img src="/assets/warning.svg" alt="Message icon" />
          </div>
          <article class="message">
            <h1>¡Cuidado!</h1>
            <p>No podrás volver atras</p>
          </article>
          <section class="action-buttons">
            <button class="btn delete-button">Borrar</button>
            <button class="cancel-button close-button">Cancelar</button>
          </section>
        </div>
      </div>
      <div class="modal success-container" id="success-container">
        <div class="dialog success">
          <button class="close close-button">X</button>
          <div class="message-icon">
            <img src="/assets/success.svg" alt="Message icon" />
          </div>
          <article class="message">
            <h1>Vamos!</h1>
            <p>Todo ha salido bien</p>
          </article>
          <section class="action-buttons">
            <button class="btn cerrar-button close-button">Cerrar pestaña</button>
          </section>
        </div>
      </div>
      <div class="modal error-container" id="error-container">
        <div class="dialog error">
          <button class="close close-button">X</button>
          <div class="message-icon">
            <img src="/assets/error.svg" alt="Message icon" />
          </div>
          <article class="message">
            <h1>Ups!</h1>
            <p>Algo ha pasado</p>
          </article>
        </div>
      </div>
    </section>
    <section class="open-modals">
      <button class="btn open-button open-warning">Open warning</button>
      <button class="btn open-button open-success">Open success</button>
      <button class="btn open-button open-error">Open error</button>
    </section>

    <script src="/js/index.js"></script>
  </body>
</html>
